################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codingame/bin/Debug
/Codingame/obj/Debug
*.user
*.suo
/.vs
/.vs
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Codingame/obj/Release
